# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store

# App secrets and local configs
*.env
*.xcconfig.local

